@media screen and (min-width: 601px) {
.div-objetivo{
  padding: 30px;
  padding-bottom: 10px;
  margin: auto;
  max-height: 1000px;
  min-width: 700px;
  max-width: 1300px;
  widows: auto;
  background-color:#ffffff;
  top:120px;

 }

 .div-caracteristicas{
     padding: 30px;
     padding-bottom: 10px;
     margin: auto;
     max-height: 1000px;
     min-width: 700px;
     max-width: 1300px;
     widows: auto;
     background-color:#ffffff;
     top:120px;
  }

 .T2{
  color:#002338;
  font-size: 50px;
  text-align: center;
}

.P2{
 color:#000000;
 font-size: 20px;
 text-align: justify;
 margin: 0px;
 padding: 0px;
 line-height:100%
}

.div-margen1{
    text-align: center;
    position:relative;
    top: -55px;
}

.margen-1{
  max-height: 2px;
  max-width: 621px;
}

.div-banner-descripcion{
  position: relative;
  display: grid;
  top:-50px;
}
}


@media screen and (max-width: 600px) {
  .div-objetivo{
    padding: 15px;
    margin: auto;
    max-width: 300px;
   }

   .T2{
    color:#002338;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .P2{
   color:#000000;
   font-size: 16px;
   text-align: justify;
   margin: 0px;
   padding: 0px;
   line-height:100%
  }

  .div-margen1{
      text-align: center;
      position:relative;
      top:-20px;
  }
  .margen-1{
  max-width: 100%;

  }
  .div-banner-descripcion{
    position: relative;
    display: block;
    top: -20px;
  }

  .div-caracteristicas{
    padding: 15px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 300px;
    display: block;
  }

  .caracteristicas{
  display: block;
  margin: 10px auto;
  max-width: 100%;
  }

}
