@media screen and (min-width: 601px) {
.div-objetivo{
  padding: 30px;
  padding-bottom: 10px;
  margin: auto;
  max-height: 1000px;
  min-width: 700px;
  max-width: 1300px;
  widows: auto;
    background: rgba(25, 25, 25, .03);
  opacity: ..9;
  top:120px;

 }

 .div-caracteristicas-g{

    display:flex;

    flex-wrap: wrap;

    max-width:1300px;

    margin: auto;
    padding: auto;
    background: rgba(25, 25, 25, .03);
 }

 .div-caracteristica{

    display: flex;
    margin: auto;
    padding: auto;


 }

.div-caracteristicas-ico{
    padding: 20px;
}

.caracteristica-desc-wrap{

  max-width: 430px;
}

 .T2{
  color:#002338;
  font-size: 50px;
  text-align: center;
}

.T3{
 color:#f03838;
 font-size: 28px;
 text-align: left;
}

.P2{
 color:#000000;
 font-size: 20px;
 text-align: justify;
 margin: 0px;
 padding: 0px;
 line-height:100%
}

.div-margen1{
    text-align: center;
    position:relative;
    top: -55px;
}

.margen-1{
  max-height: 2px;
  max-width: 621px;
}

.div-banner-descripcion{
  position: relative;
  display: grid;
  top:-50px;
}
}


@media screen and (max-width: 600px) {
  .div-objetivo{
    padding: 15px;
    margin: auto;
    max-width: 300px;
    background: rgba(25, 25, 25, .03);
   }

   .T2{
    color:#002338;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .P2{
   color:#000000;
   font-size: 16px;
   text-align: justify;
   margin: 0px;
   padding: 0px;
   line-height:100%
  }

  .div-margen1{
      text-align: center;
      position:relative;
      top:-20px;
  }
  .margen-1{
  max-width: 100%;

  }
  .div-banner-descripcion{
    position: relative;
    display: block;
    top: -20px;
  }

  .div-caracteristicas{
    padding: 15px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 300px;
    display: block;
  }

  .caracteristicas{
  display: block;
  margin: 10px auto;
  max-width: 100%;
  }

  .div-caracteristicas-g{

     display:flex;

     flex-wrap: wrap;

     max-width:600px;

     margin: 50px;

     background: rgba(25, 25, 25, .03);

  }

  .div-caracteristica{

     display: flex;

     padding: auto;

     flex-wrap: wrap;



  }

 .div-caracteristicas-ico{
     padding: 20px;
     margin: auto;
 }

 .caracteristica-desc-wrap{

   max-width: 430px;
 }

 .T3{
  color:#f03838;
  font-size: 28px;
  text-align: left;
 }
}
