<div class="div-objetivo">
  <div>
    <div>
    <h3 class="T2">{{objetivo}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
    <div class="div-banner-descripcion">
    <p class="P2">{{descripcion}}</p>
    </div>
  </div>
</div>

<div class="div-caracteristicas-g">

<div class="div-caracteristica">
  <div class="div-caracteristicas-ico">
    <img src="{{garantia}}">
  </div>
  <div class="div-caracteristicas-txt">
      <div class="T3">
        {{garantiatitulotxt}}
      </div>
      <div class="P2 caracteristica-desc-wrap">
        {{garantiadescripciontxt}}
      </div>
  </div>
</div>

<div class="div-caracteristica">
  <div class="div-caracteristicas-ico">
    <img src="{{practico}}">
  </div>
  <div class="car-icon-wrap">
      <div class="T3">
        {{practicotitulotxt}}
      </div>
      <div class="P2 caracteristica-desc-wrap">
        {{practicodescripciontxt}}
      </div>
  </div>
</div>

<div class="div-caracteristica">
  <div class="div-caracteristicas-ico">
    <img src="{{medida}}">
  </div>
  <div class="div-caracteristicas-txt">
      <div class="T3">
        {{medidatitulotxt}}
      </div>
      <div class="P2 caracteristica-desc-wrap">
        {{medidadescripciontxt}}
      </div>
  </div>
</div>

<div class="div-caracteristica">
  <div class="div-caracteristicas-ico">
    <img src="{{instructor}}">
  </div>
  <div class="div-caracteristicas-txt">
      <div class="T3">
        {{instructortitulotxt}}
      </div>
      <div class="P2 caracteristica-desc-wrap">
        {{instructordescripciontxt}}
      </div>
  </div>
</div>

</div >

<div class="div-objetivo">
  <div>
    <div>
    <h3 class="T2">{{beneficios}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
  </div>
</div>

<div class="b-wrapper">

  <div class="frame">

  <div class="box" *ngFor="let beneficio of beneficiosobj" (mouseenter)="banderarombof(beneficio.beneficio)">
    <img class="ico"src="{{beneficio.ico.blanco}}" align="top"  *ngIf="selectedb==beneficio.beneficio else other_content">
    <ng-template #other_content>
    <img #other_content class="ico"src="{{beneficio.ico.rojo}}" align="top">
      </ng-template>

    <div class="T4 colorbeneficio">
      {{beneficio.titulo}}
    </div>
  </div>

  </div>

  <div class="b-container" >
    <ul class="alinearbene"*ngFor="let beneficio of filterItemsOfType(selectedb)">
      <li class="P2" *ngFor="let descripcion of beneficio.descripciones" style="padding-left:1em">
        {{descripcion.descripcion}}

      </li>

    </ul>

  </div>





</div>
