<div [ngStyle]="{'background-image': 'url(' + 'assets/banner/banner.jpg' + ')'}" class="banner">
  <div>
    <img class="logo"src="{{logo}}" >
  </div>
  <div class="banner-overlay">
    <div>
      <div class="div-curso">
      <h3 class="T1">{{curso}}</h3>
      </div>
      <div class="div-margen1">
        <img class="margen-1"src="{{margen1}}"alt="margen" >
      </div>
      <div class="div-banner-descripcion">
      <p class="P1">{{descripcion}}</p>
      </div>
    </div>
  </div>
</div>
<div class="div-banner-path">
  <img class="banner-path"src="{{pathbanner}}" alt="pathbanner">
</div>
