<div [ngStyle]="{'background-image': 'url(' + 'assets/liderazgo/banner/banner.jpg' + ')'}" class="banner">
  <div class="div-logo">
    <img class="logo" src="{{logo}}" >
  </div>

  <div class="banner-overlay">
    <div class="div-banner-wrap">
      <div class="div-banner-curso">
      <p class="T1">{{curso}} </p>
      <p class="T1">{{tipocurso}}</p>
      <p class="T1"  [ngStyle]="{'color':'#f03838'}" ><b>¡Paga 1 curso y toma 2!</b></p>
      </div>
      <div class="div-margen1">
        <img class="margen-1"src="{{margen1}}"alt="margen" >
      </div>
      <div class="div-banner-descripcion">
      <p class="P1-Banner">{{descripcion}}</p>
      </div>
    </div>
  </div>
</div>


<div class="div-banner-descripcion">
  <img class="banner-path"src="{{pathbanner}}" alt="pathbanner">
</div>
<div class="div-objetivo">
  <div>
    <div>
    <h3 class="T2">{{objetivo}}</h3>
    </div>
    <div class="div-margen2-seccion-dos">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
    <div class="div-descripcion-seccion-dos">
    <p class="P2-Objetivo">{{descripcionsecciondos}}</p>
    </div>
  </div>
</div>

<div class="div-caracteristicas-g">

<div  *ngFor="let caracteristica of caracteristicasobj" class="div-caracteristica">
  <div class="div-caracteristica-wrap">
  <div class="div-caracteristicas-ico">
    <img src="{{caracteristica.ico}}">
  </div>
  <div class="div-caracteristicas-txt">
      <div class="T3">
        {{caracteristica.titulo}}
      </div>
      <div class="P2-Objetivo caracteristica-desc-wrap">
        {{caracteristica.caracteristica}}
      </div>
  </div>
</div>
  </div>

</div >

<div class="div-beneficios" [ngStyle]="{'background-color': 'rgba(25, 25, 25, .03)'}">
  <div>
    <div>
    <h3 class="T2">{{beneficios}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
  </div>



  <div class="frame">




  <div class="box" [ngStyle]="{'background-color': selectedb==beneficio.beneficio? 'rgb(240, 56, 56)':'rgb(255, 255, 255)'}" *ngFor="let beneficio of beneficiosobj" (mouseenter)="banderarombof(beneficio.beneficio)" >

      <img class="ico"src="{{beneficio.ico.blanco}}" *ngIf="selectedb==beneficio.beneficio else other_content" alt="ico">
    <ng-template #other_content>

    <img #other_content class="ico"src="{{beneficio.ico.rojo}}" alt="ico">

      </ng-template>

    <div class="T4" [ngStyle]="{'color': selectedb==beneficio.beneficio? 'rgb(255, 255, 255)': 'black'}">
      {{beneficio.titulo}}
    </div>
  </div>



  </div>


  <div class="b-container" >
    <ul class="alinearbene"*ngFor="let beneficio of filterItemsOfType(selectedb)">
      <li class="P2-Objetivo " *ngFor="let descripcion of beneficio.descripciones" >
        {{descripcion.descripcion}}

      </li>

    </ul>

  </div>

</div>


<div class="parallax" [ngStyle]="{'background-image': 'url(' + 'assets/liderazgo/seccion-dos/sala.jpg' + ')'}">
  <div class="parrallax-overlay">
    <div class="T2" [ngStyle]="{'color': 'rgb(255, 255, 255)'}">
      ESTE CURSO INCLUYE
    </div>
    <div class="parallax-navigator">
      <div [ngStyle]="{'height': 'auto'}" (click)="incluyeizq()">
      <img class="navigator" src="{{der}}" alt="izq">
      </div>
      <div [ngStyle]="{'height': 'auto'}">
      <img src={{banderaincluyeico()}} alt="ico">
      </div>
      <div class="P1">
        {{banderaincluyetext()}}
      </div>
      <div [ngStyle]="{'height': 'auto'}" (click)="incluyeder()">
      <img class="navigator" src="{{izq}}" alt="der">
      </div>
    </div>

  </div>
</div>

<div class="div-inversion">
  <div>
    <div>
    <h3 class="T2">{{inversion}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
  </div>


  <div class="i-container">
    <div class="div-inversion-g" *ngFor="let precio of precios">
      <div class="div-inversion-encabezado">
        <div class="div-inversion-wrap">
          <div class="descuento">
           Promoción 2x1
          </div>
          <div class="T5">{{precio.titulo}}</div>
        </div>

        <div class="div-margen4">
          <img class="margen-4"src="{{margen4}}" alt="margen">
        </div>
        <div class="P3">
        {{precio.precio}}
        </div>
      </div>
      <div class="div-margen5">
        <img class="margen-5"src="{{margen5}}"alt="margen" >
      </div>
      <div class="div-inversion-cuerpo">
        <div class="P2">
          Horas: {{precio.horas}}
        </div>
        <div class="P2">
          Fechas: {{precio.fechas}}
        </div>
        <div class="P2">
          Horario: {{precio.horario}}
        </div>
        <div class="P2">
          Sesiones: {{precio.sesiones}}
        </div>
      </div>
      </div>
    </div>
</div>

  <div class="background">
    <div class="div-contacto">
      <div>
        <div>
        <h3 class="T2seccioncuatro">{{titulo}}</h3>
        </div>
        <div class="div-margen1">
          <img class="margen-1"src="{{margen2}}"alt="margen" >
        </div>
        <div class="div-banner-descripcion">
        <p class="P2seccioncuatro">{{descripcionseccioncuatro}}</p>
        </div>
      </div>
    </div>
    <div class="i-container">
      <div class="div-tarjetacontacto div-descarga-cuerpo">

        <div class="div-contacto">
          <div class="T33">
        VISÍTANOS
          </div>
          <div class="P22">
        Del. Azcapotzalco, Col. Claveria, CDMX.
          </div>
        </div>

        <div class="div-contacto">
          <div class="T33">
        LLÁMANOS
          </div>
          <div class="P22">
        55 6271 8320
          </div>
          <div class="P22">
        55 1948 2497
          </div>
          <div class="P22">
        55 3733 7844
          </div>
        </div>

        <div class="div-contacto">
          <div class="T33">
        ENVÍA UN EMAIL
          </div>
          <div class="P22">
        contacto@excellentraining.com
          </div>
        </div>

        </div>
      <div class="div-contactouser div-descarga-cuerpo">

        <form (ngSubmit) = "sendemail()">
                <label class="labeltextarea" for="fname">Nombre</label>
                <input class="areatext" type="text" id="fname" name="firstname" [(ngModel)]="cliente.nombre" placeholder="Nombre">
                <label class="labeltextarea"  for="idcorreo">Correo</label>
                <input class="areatext" type="text" id="idcorreo" name="correo" [(ngModel)]="cliente.correo" placeholder="Tu correo">
                <label class="labeltextarea" for="idtele">Teléfono</label>
                <input class="areatext" type="text" id="idtele" name="telefono" [(ngModel)]="cliente.telefono" placeholder="Tu teléfono">
                <label class="labeltextarea" for="subject">Por qué te interesa este curso?</label>
                <textarea class="areatext"  id="subject" name="subject" [(ngModel)]="cliente.razon" placeholder="Escribe algo"></textarea>
                <input class="boton" type="submit" value="Recibir temario">
              </form>
            </div>
        </div>
        </div>
