<div class="background">
  <div class="div-objetivo">
    <div>
      <div>
      <h3 class="T2">{{titulo}}</h3>
      </div>
      <div class="div-margen1">
        <img class="margen-1"src="{{margen2}}"alt="margen" >
      </div>
      <div class="div-banner-descripcion">
      <p class="P2">{{descripcion}}</p>
      </div>
    </div>
  </div>
  <div class="i-container">
    <div class="div-tarjetacontacto div-descarga-cuerpo">

      <div class="div-contacto">
        <div class="T3">
      VISÍTANOS
        </div>
        <div class="P22">
      Del. Azcapotzalco, Col. Claveria, CDMX.
        </div>
      </div>

      <div class="div-contacto">
        <div class="T3">
      LLÁMANOS
        </div>
        <div class="P22">
      50192943
        </div>
        <div class="P22">
      55 1948 2497
        </div>
      </div>

      <div class="div-contacto">
        <div class="T3">
      ENVÍA UN EMAIL
        </div>
        <div class="P22">
      correo
        </div>
      </div>

      </div>
    <div class="div-contactouser div-descarga-cuerpo">

      <form >
              <label for="fname">Nombre</label>
              <input type="text" id="fname" name="firstname" placeholder="Nombre">
              <label for="lname">Correo</label>
              <input type="text" id="lname" name="lastname" placeholder="Tu correo">
              <label for="lname">Teléfono</label>
              <input type="text" id="lname" name="lastname" placeholder="Tu teléfono">
              <label for="subject">Por qué te interesa este curso?</label>
              <textarea id="subject" name="subject" placeholder="Escribe algo" style="height:170px"></textarea>
              <input type="submit" value="Recibir temario">
            </form>
          </div>
      </div>
      </div>
