.background {
  width:100%;
  background: rgb(37, 45, 58);
}

.div-objetivo{
  padding: 30px;
  margin: auto;
  max-height: 1000px;
  min-width: 700px;
  max-width: 1300px;
  padding-bottom: 60px;
  align-content: center;
}

.T2seccioncuatro{
  color:#ffffff;
  font-size: 50px;
  text-align: center;
}

.P2seccioncuatro{
color:#ffffff;
font-size: 24px;
text-align: center;
margin: 0px;
padding: 0px;
line-height:100%;
}

.div-margen1seccioncuatro{
  height: 2px;
  max-height: 2px;
    text-align: center;
    position:relative;
    top: -55px;
}


.i-container{
  display: flex;
  flex-wrap: wrap;
  max-height: 1000px;
  min-width: 700px;
  max-width: 1300px;
  margin: auto;
  justify-content: center;
}

.div-descarga-cuerpo{
  background: rgb(243, 243, 243);
  height:auto;
  padding: 10px;
}

.div-tarjetacontacto{
  width: 420px;
  margin: 10px;
}

.div-contactouser{
  width: 500px;
  margin: 10px;
}

.div-contacto{
  margin-top: 45px;
  margin-left: 30px;
  margin-bottom: 45px;
}

.T3{
color:#d04109;
font-size: 28px;
text-align: left;
}

.P22{
color:#000000;
font-size: 20px;
text-align: left;
padding-top: 10px;
line-height:100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: vertical;
  font-size: 10px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  background-color: #d04109;
  font-size: 15px;
}

label{
  font-size: 10px;
  margin-bottom: 0px;
}
