<div class="div-objetivo">
  <div>
    <div>
    <h3 class="T2">{{inversion}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
  </div>
</div>

<div class="i-container">
  <div class="div-inversion-g" *ngFor="let precio of precios">
    <div class="div-inversion-encabezado">
      <div class="T5">{{precio.titulo}}</div>
      <div class="div-margen4">
        <img class="margen-4"src="{{margen4}}" alt="margen">
      </div>
      <div class="P3">
      {{precio.precio}}
      </div>
      <div class="P4">
      {{precio.ahorras}}
      </div>
    </div>
    <div class="div-margen5">
      <img class="margen-5"src="{{margen5}}"alt="margen" >
    </div>
    <div class="div-inversion-cuerpo">
    <div class="P2">
      {{precio.horas}}
    </div>
    <div class="P2">
      {{precio.preciolista}}
    </div>
    <div class="P2">
      {{precio.fechas}}
    </div>
    <div class="P2">
      {{precio.horario}}
    </div>
    <div class="P2">
      {{precio.sesiones}}
    </div>
    <div class="P2">
      {{precio.lugar}}
    </div>
    </div>
    </div>


  </div>
