<div class="div-objetivo">
  <div>
    <div>
    <h3 class="T2">{{inversion}}</h3>
    </div>
    <div class="div-margen1">
      <img class="margen-1"src="{{margen2}}"alt="margen" >
    </div>
  </div>
</div>

<div class="i-container">
  <div class="div-inversion-g">
    <div class="div-inversion-encabezado">
      <div class="T5">{{titulosemana}}</div>
      <div class="div-margen4">
        <img class="margen-4"src="{{margen4}}" alt="margen">
      </div>
      <div class="P3">
        {{preciosemana}}
      </div>
      <div class="P4">
        {{ahorro}}
      </div>
    </div>
    <div class="div-margen5">
      <img class="margen-5"src="{{margen5}}"alt="margen" >
    </div>
    <div class="div-inversion-cuerpo">

    </div>
    </div>

    <div class="div-inversion-g">
      <div class="div-inversion-encabezado">
        <div class="T5">{{titulosemana}}</div>
        <div class="div-margen4">
          <img class="margen-4"src="{{margen4}}" alt="margen">
        </div>
        <div class="P3">
          {{preciosemana}}
        </div>
        <div class="P4">
          {{ahorro}}
        </div>
      </div>
      <div class="div-margen5">
        <img class="margen-5"src="{{margen5}}"alt="margen" >
      </div>
      <div class="div-inversion-cuerpo">

      </div>
      </div>
  </div>
